
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fef5ff;
}

#game {
    height: 600px;
    width: 1000px;
    box-shadow: inset 0 4px 4px rgba(255, 178, 178, 0.25);
    margin: auto;
    overflow: hidden;
}

#background {
    height: 100%;
    width: 3300px;
    position: relative;
    top: -300px;
    background-image: url("bgs/bg-full.png");

    animation: bg-move 15s infinite linear;
    z-index: -1
}

@keyframes bg-move {
    0% { transform: translate3d(0, 0, 0) }
    100% { transform: translate3d(-1008px, 0, 0) }
}


#character {
    width: auto;
    height: 50%;
    background-image: url("chars/dino1.png");
    background-repeat: no-repeat;
    position: relative;
    top: 450px;
}

@keyframes jump {
    0% { top: 450px }
    30% { top: 300px }
    70% { top: 300px }
    100% { top: 450px }

}

.jump {
    animation: jump 300ms linear;
}

#block {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    position: relative;
    top: 230px;
    left: 1080px;
    animation: block 1s infinite linear;
}

@keyframes block {
    0% { left: 1100px }
    100% { left: -20px }
}

