
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fef5ff;
    overflow: hidden;

    cursor: url("cursor/stars-def.png") default;


}

.josefin-sans-bold {
                   font-family: "Josefin Sans", sans-serif;
                   font-optical-sizing: auto;
                   font-weight: 700;
                   font-style: normal;
}

h1, h2, h3 {
    color: #a28999;
    margin: 12px;
}

h2 {
    cursor: pointer;
}

#game {
    height: 500px;
    width: 1000px;
    box-shadow: inset 0 4px 4px rgba(255, 178, 178, 0.25);
    overflow: hidden;
    background-color: #FEF5E6;
    margin: 10px;
    text-align: end;
}

#bg1 {
    background-image: url("bgs/bg1.png");
    width: 3000px;
    height: 100%;
    position: relative;
    background-repeat: repeat-x;
    animation: bg-move 23s infinite linear;

}

#bg2 {
    background-image: url("bgs/bg2.png");
    width: 3000px;
    height: 100%;
    position: relative;
    top: -400px;
    background-repeat: repeat-x;

    animation: bg-move 10s infinite linear;
}

@keyframes bg-move {
    0% { transform: translate3d(0, 0, 0) }
    100% { transform: translate3d(-1008px, 0, 0) }
}


#character {
    height: 20%;
    width: auto;
    margin-left: 30px;
    background-image: url("chars/pixil-layer-dino1.png");
    background-repeat: no-repeat;
    position: relative;
    top: 330px;
    z-index: 10;

}

@keyframes jump {
    0% { top: 330px }
    30% { top: 200px }
    70% { top: 200px }
    100% { top: 330px }

}

.jump {
    animation: jump 300ms linear;
}

#block {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    position: relative;
    top: 230px;
    left: 1080px;
    animation: block 2s infinite linear;
    display: none;
}

@keyframes block {
    0% { left: 1100px }
    100% { left: -20px }
}

