<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dino game :)</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/style.css">

    <!-- Font: Josefin Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="title" class="josefin-sans-bold"><h1>mei's dino game</h1></div>
    <div id="game">
        <div id="score"><h3 class="josefin-sans-bold">0000</h3></div>
        <div id="character"></div>
        <div id="block"></div>
        <div id="bg1"></div>
        <div id="bg2"></div>
    </div>
    <h2 class="josefin-sans-bold">play</h2>
    <h2 class="josefin-sans-bold">choose character</h2>


    <script>

        /* Character Controls */

        const char = document.getElementById("character");

        document.addEventListener("click", jump);

        function jump() {
            if (char.classList != "jump") {
                char.classList.add("jump");
                setTimeout(removeJump, 300);
            }
        }

        function removeJump() {
            char.classList.remove("jump");
        }

        /* Collision/Death Check */

        const block = document.getElementById("block");

        function checkDead() {
            let charTop = parseInt(window.getComputedStyle(char).getPropertyValue("top"));
            let blockLeft = parseInt(window.getComputedStyle(block).getPropertyValue("left"));
            if(blockLeft < 20 && blockLeft > -20 && charTop >= 430) {
                isDead = true;
            }
        }
        setInterval(checkDead, 10)

        /* Score Logic */
        let score = 0;
        let isDead = false;


    </script>

</body>

</html>